body{
    font-family: 'Roboto Condensed', sans-serif;
}
.introduction{
    
    background-image: url(../assets/steps.jpg);    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
    padding-top:17%; 
    
    
}
#intro{
    font-weight: 800;
}
.logo {
    padding-top : 20px;
    margin-top: 10%;
    padding-bottom: 30px;
}
.mouse-click{
    padding-top : 20px;
    margin-top: 10%;
    padding-bottom: 30px; 
    animation: bounce 2s infinite;

}
/* @keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  } */

h4{
    font-size: xx-large;
}
.about-us{
    text-align: center;    
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.services{
    background-image: url(../assets/keyboard.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-size: small;
    font-family: 'Roboto Condensed', sans-serif;
    

}
h6{
    text-align: center;
    font-weight: bold;
}
/* #icon{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
} */
.whatwedo{
    text-align: center;
    font-size: small;
    font-family: 'Roboto Condensed', sans-serif;
}
.design-showing{
    display: none;
}
.development-showing{
    display: none;
}
.product-management-showing{
    display: none;
}
.portfolio{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
h6{
    cursor: pointer;
}
#work5{
    position: relative;
}
#portfolio-image{
    display: flex;
    align-items: center;
    margin-left: 12%;
    margin-right: 10%;
    flex-wrap: wrap;
   
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
.image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
  }


/*  
.hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.6);
    
  }  */
#portfolio-image:hover .hover {
    opacity: 1;
  }
text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
   
    text-align: center;
  }


#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display: none;
    color: black;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.456);
    position:absolute;
    top: 80px;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    font-family: 'Delius Swash Caps', cursive;
  }
  



#contact{
    text-align: center;
    color: white;
}
.contact-us {
    background-image: url(../assets/machine.jpg);
    background-size:contain;
    background-repeat: no-repeat;    
    padding: 10%;
    font-family: 'Roboto Condensed', sans-serif;
    
      
  }
.form-control{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
  }
#name::placeholder { 
    color: white;
    
  }
#email::placeholder { 
    color: white;
    
  }
#message::placeholder { 
    color: white;
    
  }

.submit{
    color: white;
    background-color: grey;
    margin-top: 10px;
}

input[type=text],input[type=email],#message{
    background: transparent;
    color: white;
    font-size: 20px;
   
  }
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    
  }

