.introduction{
    
    background-image: url(../assets/steps.jpg);    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
    padding-top:17%; 
    font-family: 'Roboto', sans-serif;
    
}
.logo {
    padding-top : 20px;
    margin-top: 10%;
    padding-bottom: 30px;
}
.mouse-click{
    padding-top : 20px;
    margin-top: 10%;
    padding-bottom: 30px; 

}
h4{
    font-size: xx-large;
}
.about-us{
    text-align: center; 
    font-size: small;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    padding-top:40px;
}
.services{
    background-image: url(../assets/keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
    font-size: small;
    font-family: 'Roboto', sans-serif;

}
h6{
    text-align: center;
    font-weight: bold;
}
/* #icon{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
} */
.whatwedo{
    text-align: center;
    font-size: small;
}
.design-showing{
    display: none;
}
.development-showing{
    display: none;
}
.product-management-showing{
    display: none;
}
.portfolio{
    text-align: center;
}

